@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: block;
    height: 100vh;
    /* justify-content: center;
    align-items: center; */
    background-image: url(https://c.wallhere.com/photos/05/9b/minimalism_space-1966501.jpg!d);
    background-size: cover;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 40px 30px;
    border-radius: 5px;
}

.container form .usarioDetalles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .usarioDetalles .inputBox{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.usarioDetalles .inputBox .detalles{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.usarioDetalles .inputBox input, select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.usarioDetalles .inputBox input:focus{
    transition: 0.4s;
    border-color: black;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: black;
    transition: 0.5s;

}

form .button input:hover{ 
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(21, 108, 184);
}

.email{
    margin-top: 40px;
}
